main {
  margin-top: 60px;
}

form {
  width: 350px;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0px;
}

#completedTaskList .content {
  color: black;
  text-decoration: line-through;
}

#taskList .content {
  color: black;
}
